/* default code */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

/* for preloader */

.spinner-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #3D5A80;
    z-index: 999999;
}

.spinner {
    position: absolute;
    top: 48%;
    left: 48%;
}

.sk-folding-cube {
    margin: 20px auto;
    width: 40px;
    height: 40px;
    position: relative;
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.sk-folding-cube .sk-cube:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
    animation: sk-foldCubeAngle 2.4s infinite linear both;
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}

.sk-folding-cube .sk-cube2 {
    -webkit-transform: scale(1.1) rotateZ(90deg);
    transform: scale(1.1) rotateZ(90deg);
}

.sk-folding-cube .sk-cube3 {
    -webkit-transform: scale(1.1) rotateZ(180deg);
    transform: scale(1.1) rotateZ(180deg);
}

.sk-folding-cube .sk-cube4 {
    -webkit-transform: scale(1.1) rotateZ(270deg);
    transform: scale(1.1) rotateZ(270deg);
}

.sk-folding-cube .sk-cube2:before {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.sk-folding-cube .sk-cube3:before {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

.sk-folding-cube .sk-cube4:before {
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
}

@-webkit-keyframes sk-foldCubeAngle {
    0%, 10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0;
    }
    25%, 75% {
        -webkit-transform: perspective(140px) rotateX(0deg);
        transform: perspective(140px) rotateX(0deg);
        opacity: 1;
    }
    90%, 100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0;
    }
}

@keyframes sk-foldCubeAngle {
    0%, 10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0;
    }
    25%, 75% {
        -webkit-transform: perspective(140px) rotateX(0deg);
        transform: perspective(140px) rotateX(0deg);
        opacity: 1;
    }
    90%, 100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0;
    }
}

/* pre-loader-end */

/* default code end */

/* navbar */

.Navbar {
    display: flex;
    border-bottom-style: solid;
    border-bottom-width: 0.5px;
    border-color: rgba(61, 90, 128, 0.5);
    /* border:2px red solid; */
    justify-content: space-between;
    align-items: center;
}

.heading-nav {
    /* border:2px red solid; */
    width: 50%;
    font-size: 32px;
    color: #3D5A80;
    /* align-self: center; */
}

.heading-nav a {
    /* border: 2px yellow solid; */
    display: flex;
    /* align-items: baseline; */
    padding: 10px;
    left: 1vw;
}

.heading-nav-title {
    /* border:2px red solid; */
    font-size: 32px;
    position: relative;
    left: 1vw;
}

#logoo {
    /* border:blue 2px solid; */
    /* position: relative;
    bottom:30px; */
}

.lnks {
    /* border: 2px solid blue; */
    display: flex;
    /* width:35%; */
    justify-content: space-evenly;
    padding: 10px;
    /* border:2px solid yellow; */
}

.link1, .link2, .link3, .link4 {
    /* border:2px red solid; */
    font-size: 24px;
    /* font-family: Mulish; */
    padding: 10px;
}

.link1 a, .link2 a, .link3 a, .link4 a {
    color: rgba(41, 50, 65, 0.5);
    padding: 0 18px;
}

.mob-Navbar {
    margin-left: 10px;
}

#mob-nav-icon {
    font-size: 32px;
    color: #3D5A80;
    padding: 10px;
}

.link1 a:hover, .link2 a:hover, .link3 a:hover, .link4 a:hover {
    color: #3D5A80;
}

.getInTouch {
    background-color: #3D5A80;
    /* height:5vh; */
    /* width:100%; */
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    /* border:2px red solid; */
}

.inside_getInTouch {
    /* border:2px yellow solid; */
    /* padding:20px; */
    display: flex;
    justify-content: space-between;
}

/* navbar end */

#view_more_link a {
    color: white;
}

#view_more_link a:hover {
    text-decoration: underline;
}

#one a:hover, #two a:hover, #three a:hover {
    color: #3D5A80;
    text-decoration: underline;
}

/* footer */

.curve-shapeDown {
    position: relative;
    bottom: 1vh;
}

.footer1, .footer2 {
    min-height: 100vh;
    /* border:2px red solid; */
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-content {
    position: relative;
    /* border:yellow 2px solid; */
    /* padding:4%; */
    width:80%;
    padding:10px;
}

.foot-sub1-1 div {
    /* border:2px red solid; */
    width: 90%;
    margin: 0 auto;
    position: relative;
    left: 3vw;
    bottom:12vh;
}

.logos {
    /* border:yellow 3px solid; */
    margin-left: 3vw;
    width: 48%;
    display: flex;
    justify-content: space-between;
    position: relative;
    bottom:10vh;
}

.sub-foot-text1 {
    font-size: 34px;
    font-weight: 500;
    color: #293241;
}

.sub-foot-text2 {
    font-weight: normal;
    font-size: 26px;
    color: #293241;
}

.foot-sub2 {
    /* border:red solid 2px; */
    display: flex;
    justify-content: center;
}

.stc-logo span {
    font-size: 16px;
    color: black;
    position: relative;
    top:2px;

}

.stc-logo {
    /* border:yellow 2px solid; */
    text-align: center;
    position: relative;
    bottom:2vh;
}


/* footer end */

/* for navbar */

@media only screen and (min-width: 993px) {
    .mob-Navbar {
        display: none;
    }
}

@media only screen and (max-width: 992px) {
    .lnks {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    #logoo {
        display: none;
    }
    #mob-nav-icon, .heading-nav-title {
        font-size: 28px;
    }
}

/* navbar media queries end */

/* media queries for footer */

@media only screen and (max-width: 992px) {

    .logos {
        margin:6vh auto 0 auto;
        width: 60%;
        display: flex;
        justify-content: space-between;
        left:0;
    }

    
    .foot-sub1-1 div {
        text-align: center;
        width: 100%;
        margin: 0 auto;
        left:0;
    }

}


@media only screen and (max-width: 1200px){

    .sub-foot-text1 {
        font-size: 26px;
    }
    
    .sub-foot-text2 {
        font-size: 22px;
    }
    
    .logos{
        width:60%;
    }

    .footer-content{
        width:90%;
    }

}


@media only screen and (max-width: 600px){

    .sub-foot-text1 {
        font-size: 24px;
    }
    
    .sub-foot-text2 {
        font-size: 20px;
    }
    
    

    .logos{
        width:70%;
    }

    .footer-content{
        padding: 0;
    }

    .footer-content{
        width:100%;
    }

}
/* footer media queries end */