/* default code */
* {box-sizing: border-box;}

body{
    margin:0;
    font-family: Muli;
    font-style: normal;
    font-weight: normal;
}

br { 
    display: block; 
    margin: 15px 0; 
    
    } 
     
br + br { 
    display: none; 
}

.up:hover{  
    position: relative;
    bottom:2px;
}

/* for preloader */
.spinner-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #3D5A80;
    z-index: 999999;
    }

.spinner{
    position: absolute;
    top: 48%;
    left: 48%;
}

.sk-folding-cube {
    margin: 20px auto;
    width: 40px;
    height: 40px;
    position: relative;
    -webkit-transform: rotateZ(45deg);
            transform: rotateZ(45deg);
  }
  
  .sk-folding-cube .sk-cube {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1); 
  }
  .sk-folding-cube .sk-cube:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
            animation: sk-foldCubeAngle 2.4s infinite linear both;
    -webkit-transform-origin: 100% 100%;
        -ms-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
  }
  .sk-folding-cube .sk-cube2 {
    -webkit-transform: scale(1.1) rotateZ(90deg);
            transform: scale(1.1) rotateZ(90deg);
  }
  .sk-folding-cube .sk-cube3 {
    -webkit-transform: scale(1.1) rotateZ(180deg);
            transform: scale(1.1) rotateZ(180deg);
  }
  .sk-folding-cube .sk-cube4 {
    -webkit-transform: scale(1.1) rotateZ(270deg);
            transform: scale(1.1) rotateZ(270deg);
  }
  .sk-folding-cube .sk-cube2:before {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s;
  }
  .sk-folding-cube .sk-cube3:before {
    -webkit-animation-delay: 0.6s;
            animation-delay: 0.6s; 
  }
  .sk-folding-cube .sk-cube4:before {
    -webkit-animation-delay: 0.9s;
            animation-delay: 0.9s;
  }
  @-webkit-keyframes sk-foldCubeAngle {
    0%, 10% {
      -webkit-transform: perspective(140px) rotateX(-180deg);
              transform: perspective(140px) rotateX(-180deg);
      opacity: 0; 
    } 25%, 75% {
      -webkit-transform: perspective(140px) rotateX(0deg);
              transform: perspective(140px) rotateX(0deg);
      opacity: 1; 
    } 90%, 100% {
      -webkit-transform: perspective(140px) rotateY(180deg);
              transform: perspective(140px) rotateY(180deg);
      opacity: 0; 
    } 
  }
  
  @keyframes sk-foldCubeAngle {
    0%, 10% {
      -webkit-transform: perspective(140px) rotateX(-180deg);
              transform: perspective(140px) rotateX(-180deg);
      opacity: 0; 
    } 25%, 75% {
      -webkit-transform: perspective(140px) rotateX(0deg);
              transform: perspective(140px) rotateX(0deg);
      opacity: 1; 
    } 90%, 100% {
      -webkit-transform: perspective(140px) rotateY(180deg);
              transform: perspective(140px) rotateY(180deg);
      opacity: 0; 
    }
  }

 /* pre-loader-end */

/* default code end */

/* content */

.content{
    max-width:1150px;
    /* border:2px solid red; */
    margin:0 auto;
}

.heading{
    display: flex;
    justify-content: center;
    /* border:blue 2px solid; */
}

.form1-head{
    font-size:32px;
    color: #3D5A80;
    /* border:2px green solid; */
    /* margin-left:100px; */
    /* width:60%; */
    text-align: center;
    /* width:60%; */
    /* margin:0 auto; */
    /* bottom:40px; */
}

.form1-cont{
    /* border:2px purple solid; */
    width:60%;
    margin:0 auto;
    display: flex;
    flex-direction: column;
    background-color:rgba(196, 196, 196, 0.1);;
    padding:10px;
}

.form1-cont label{
    font-size:25px;
    color: #3D5A80;
    width:80%;
    margin-left:5px;
    align-self: center;
}

.txt-inp{
    width:80%;
    padding:10px;
    width:80%;
    height:30vh;
    background: rgba(41, 50, 65, 0.1);
    /* border:red solid 2px; */
    align-self: center;
    border-style: solid;
    font-size:20px;
    border-color:rgba(41, 50, 65, 0.1);
    letter-spacing:1px;
}

.form1-cont input{
    padding:15px;
    width:80%;
    background: rgba(41, 50, 65, 0.1);
    /* border:red solid 2px; */
    align-self: center;
    border-style: solid;
    border-color:rgba(41, 50, 65, 0.1);
    outline: none;
    font-size:25px;
    letter-spacing:1px;
}

.accept_invite{
    /* border:red solid 2px; */
    width:80%;
    text-align: end;
    align-self: center;
}

.reject{
    font-size: 25px;
    background-color: white;
    border: none;
    color: #3D5A80;
    padding: 6px 14px;
    border: 3px #3D5A80 solid;
    border-radius: 8px;
    margin-right: 20px;
    cursor: pointer;
}

.accept{
    font-size: 25px;
    background-color: #3D5A80;
    border: none;
    color: white;
    padding: 6px 14px;
    border: 3px #3D5A80 solid;
    border-radius: 8px;
    margin-left: 20px;
    cursor: pointer;
}

.accept:focus,.reject:focus{
    outline: none;
}

/* content end */

/* common  */

input{
    /* outline-color: transparent; */
    color:#3D5A80;
    font-size:20px;
}

textarea{
    outline:none;
    resize: none;
    color:#3D5A80;
    font-size:18px;
}

/* common end */


/* media queries */

/* media queries for content */

@media only screen and (max-width:992px){

    .form1-cont{
        width:100%;
    }

    .reject,.accept,.form1-cont label,.form1-cont input{
        font-size:20px;
    }

    
    .form1-head{
        font-size:26px;
    }

    .form1-cont{
        padding: 0;
    }

    .form1-cont input{
        padding:10px;
    }
}

@media only screen and (max-width:600px){

    .reject,.accept,.form1-cont label,.form1-cont input{
        font-size:13px;
    }

    
    .form1-head{
        font-size:20px;
    }

    .form1-cont input{
        padding:5px;
    }

}


/* end of media queries for content */