body{
    height: 1200px;
}
h1
{
    text-align: center;
    font-family: Muli;
font-style: normal;
font-weight: normal;
font-size: 44px;
line-height: 55px;

color: #3D5A80;
}

form{
    position: absolute;
width: 800px;
height: 1100px;
left:250px;
top: 88px;
margin-bottom: 100px;
background: rgba(196, 196, 196, 0.15);
}
.btns button{
    cursor:pointer;
    width:138px;
    height:50px;
    margin-left:440px;
    border:none;
    color:#3D5A80;
    font-size:25px;
    font-family:Montserrat;
    background-color: transparent;
    background-repeat:no-repeat;
    outline:none;
  margin-top: 20px;
}

.btns button:hover{
    background-color: #3D5A80;
    color:white;
}
@media only screen and (max-width: 568px) {
  form{
      top:150px;
      width: 800px;
      left: 50px;
      
  }
h1{
    padding-top: 50px;
    padding-left:300px;
    font-size: 30px;
    display: flex;
   white-space: nowrap;
    text-overflow: ellipsis;}
.arrow button{
   padding-top: 10px;
    margin-left:-120px;
}

  }
  
