/* header */

.t1{
    font-size:40px;
    color: #293241;
    /* border:2px red solid; */
}

.layout{
    padding:20px;
    max-width:1450px;
    margin:0 auto;
    /* border:2px yellow solid; */
    min-height:80vh;
}

.part1{
    margin:50px 0 70px 0;
    display:flex;
    /* border:2px purple solid; */
}

.part1-1{
    /* border:2px solid red; */
}

.part1-2{
    /* border:blue solid 2px; */
    display: flex;

}

.part1-2-mob{
    text-align: center;
}

.part1-2-mob img{
    /* border: 2px red solid; */
    width:60%;
}

.part1-2 img{
    /* border:yellow 2px solid; */
}

.part1-2-mob{
    display: none;
}

img{
    max-width:100%;
}

.logIn,.signUp{

    font-size:30px;
    padding:10px 24px;
    /* width:15vw; */
    cursor: pointer;
}

.logIn{
    background: #3D5A80;
    /* box-sizing: border-box; */
    border:3px #3D5A80 solid;
    border-style: none;
    border-radius:8px;
    color:#fff;
    /* box-shadow: none!important; */
    min-width:146.46px;
}

.logIn:focus,.login:focus{
    background-color: #3D5A80;
}

.signUp:focus{
    background-color: white;
}

.signUp{
    box-sizing: border-box;
    border-radius: 8px;
    color: #3D5A80;
    border:3px #3D5A80 solid;
    background-color: white;
}

#SignIn,#SignUp{
    display: none;
    max-width:60%;
    /* border:2px purple solid; */
    /* padding:20px 30px; */
    padding:20px 20px 20px 0px;
}


::placeholder{
    color: rgba(61, 90, 128, 0.75);
    font-size:24px;
}

#signIn-elem-1,#signIn-elem-2,#signUp-elem-1,#signUp-elem-2{
    /* border:2px red solid; */
    border: none;
    background: rgba(41, 50, 65, 0.1);
    color:#3D5A80;
    /* padding:5px 30px; */
    /* max-width:50%; */
    padding:10px;
    /* border:green solid 2px; */
    box-shadow: none;
    font-size:24px;
}


.sub-elem{
    /* max-width:50%; */
    /* padding:5px 30px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding:10px; */
    /* flex-direction: column; */
    /* border:green solid 2px; */
}

.login{
    padding:10px 20px;
    border:#3D5A80 solid 1px;
    font-size:24px;
    background: #3D5A80;
    border-radius: 8px;
    color:#fff;
    cursor: pointer;
}

#extra_text{
    font-size: 20px;
}

.sub-elem button{
    position: relative;
    left:20px;
}




/* header end */

/* content */

.back-content{
    background-color:#3D5A80;
    border:2px #3D5A80 solid;
    /* border:2px green solid; */
    /* min-height:650px; */
    min-height:100vh;
    overflow: hidden;
    position: relative;
}

.layout{
    /* padding:20px; */
    max-width:1500px;
    margin:40px auto;
    /* border : 2px solid yellow; */
}

.part2-1-head{
    font-size:40px;
    color:white;
}

#one,#two,#three{
    background-color: white;
    padding:20px;
    width:70%;
    margin:0 auto;
    /* border:red solid 2px; */
    border-radius: 45px 0px;
    display:flex;
    flex-direction: column;
    max-height:100%;
}

#one-head,#two-head,#three-head{
    font-size:30px;
    text-transform: capitalize;
    color:#3D5A80;
}

#one-txt,#two-txt,#three-txt{
    width:85%;
    font-size:20px;
    /* border:pink solid 2px; */
    margin-left:40px;
    color:#3D5A80;
}

#one-butt,#two-butt,#three-butt{
    /* width:30%; */
    /* border:2px red solid; */
    /* margin-left:220px; */
    align-self: flex-end;
    font-size:26px;
    color:#293241;
}

.curve-shape{
    position: relative;
    top:1.6vh;
}


.shape1 svg{
    z-index:3;
    position: relative;
    top:6vh;
    right:80%;
}

.shape2 svg{
    z-index: 2;
    position: relative;
    bottom:30vh;
    right:60%;
}

.shape3 svg{
    z-index: 1;
    position: relative;
    bottom:60vh;
    right:1vw;
}

#view_more_link{
    color:white;
    font-size:20px;
    z-index:5;
    /* border:2px red solid; */
    width:70%;
    text-align: end;
    margin:0 auto;
}

.no-hacks{
    font-size:26px;
    color:whitesmoke;
    /* border:red solid 2px; */
    text-align: center;
}

#view_more_link a{
    font-size:30px;
}

#view_more_link a:hover{
    text-decoration: underline;
}

/* content end */

/* media queries */


/* header media queries  */

@media only screen and (max-width: 1200px){

    #extra_text{
        font-size: 14px;
    }

    .shape3 svg {
        right:4vw;
        bottom:66vh;
    }

    .shape2 svg{
        right:80%;
    }

    .shape1 svg{
        right:100%;
    }

}

@media only screen and (max-width: 992px){

    .shapes{
        display: none;
    }

    .part1-2{
        display: none;
    }

    .part1-2-mob{
        display: initial;
    }

    .part1{
        flex-direction: column;
    }

    .part1-1{
        text-align: center;
    }

    .logIn,.signUp,::placeholder{
        font-size:20px;
    }

    .logIn{
        min-width: 115.65px;
    }

    .sub-elem button,::placeholder{
        font-size:20px;
    }

    .t1{
        font-size:34px;
    }

    #SignIn,#SignUp{
        margin: 0 auto;
    }

    #signIn-elem-1,#signIn-elem-2,#signUp-elem-1,#signUp-elem-2{
        padding:8px;
    }

    .sub-elem button{
        left:16px;
    }

}

@media only screen and (max-width: 424px){


    .t1{
        font-size:18px;
        /* border:2px yellow solid; */
    }

    .logIn,.signUp,::placeholder{
        font-size:12px;
    }

    .logIn{
        min-width: 90.99px;
    }
    
    .sub-elem button,::placeholder{
        font-size:12px;
    }

    #extra_text{
        font-size: 10px;
    }

    .inside_getInTouch p{
        font-size: 10px;
    }

    #SignIn,#SignUp{
        max-width:100%;

    }

    .part1-2-mob img{
        width:90%;
    }

    #signIn-elem-1,#signIn-elem-2,#signUp-elem-1,#signUp-elem-2{
        padding:4px;
    }

    .sub-elem button{
        left:8px;
    }

}

@media only screen and (min-width:425px) and (max-width: 600px){

    .t1{
        font-size:26px;
        /* border:2px yellow solid; */
    }

    .logIn,.signUp,::placeholder{
        font-size:18px;
    }

    .logIn{
        min-width:109.49px;
    }
    
    .sub-elem button,::placeholder{
        font-size:18px;
    }

    #extra_text{
        font-size: 12px;
    }

    #SignIn,#SignUp{
        max-width:80%;
    }

    .part1-2-mob img{
        width:80%;
    }

    #signIn-elem-1,#signIn-elem-2,#signUp-elem-1,#signUp-elem-2{
        padding:6px;
    }

    .sub-elem button{
        left:12px;
    }
}



/* header media queries end  */


 /* content media queries */

@media only screen and (max-width:992px){
    #one,#two,#three{
        height:initial;
    }

    #one,#two,#three{
        width:80%;
    }

    .part2-1-head{
        font-size:34px;
    }

    #one-head,#two-head,#three-head,#view_more_link a{
        font-size: 24px;
    }

    #one-txt,#two-txt,#three-txt{
        font-size: 18px;
    }

    #one-butt,#two-butt,#three-butt{
        font-size: 20px;
    }

    #view_more_link{
        width:80%;
    }


}


@media only screen and (max-width:600px){
    
    #one,#two,#three{
        width:98%;
    }

    .part2-1-head{
        font-size:28px;
    }

    #one-head,#two-head,#three-head,#view_more_link a{
        font-size: 18px;
    }

    #one-txt,#two-txt,#three-txt{
        font-size: 12px;
    }

    #one-butt,#two-butt,#three-butt{
        font-size: 14px;
    }

    #view_more_link{
        width:98%;
    }

}


    /* content media queries end */