/* header */

.t1{
    font-size:40px;
    color: #293241;
    /* border:2px red solid; */
}

.layout{
    padding:20px;
    max-width:1450px;
    margin:0 auto;
    /* border:2px yellow solid; */
}

.part1{
    margin:50px 0 70px 0;
    display:flex;
}

.part1-1{
    /* border:2px solid red; */
    width:60%;
    position: relative;
    /* top:110px; */
}

.part1-2{
    /* border:blue solid 2px; */
    width:40%;
    position: relative;
    /* top:90px; */
}

img{
    max-width:100%;
}

.logIn,.signUp{

    font-size:30px;
    padding:15px 25px;
    width:15rem;
    cursor: pointer;
}

.logIn{
    background: #3D5A80;
    /* box-sizing: border-box; */
    border-style: none;
    border-radius:8px;
    color:#fff;
    /* box-shadow: none!important; */
}

.logIn:focus,.login:focus{
    background-color: #3D5A80;
}

.signUp:focus{
    background-color: white;
}

.signUp{
    box-sizing: border-box;
    border-radius: 8px;
    color: #3D5A80;
    border:4px #3D5A80 solid;
    background-color: white;
}

#SignIn,#SignUp{
    display: none;
    max-width:60%;
    /* border:2px purple solid; */
    /* padding:20px 30px; */
    padding:20px 20px 20px 0px;
}


::placeholder{
    color: rgba(61, 90, 128, 0.75);
    font-size:26px;
}

#signIn-elem-1,#signIn-elem-2,#signUp-elem-1,#signUp-elem-2{
    /* border:2px red solid; */
    border: none;
    background: rgba(41, 50, 65, 0.1);
    color:#3D5A80;
    /* padding:5px 30px; */
    /* max-width:50%; */
    padding:10px;
    /* border:green solid 2px; */
    box-shadow: none;
    font-size:24px;

}


.sub-elem{
    /* max-width:50%; */
    /* padding:5px 30px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px;
    /* border:green solid 2px; */
    
}

.login{
    padding:10px 20px;
    border:#3D5A80 solid 1px;
    font-size:20px;
    background: #3D5A80;
    border-radius: 8px;
    color:#fff;
    cursor: pointer;
}

#extra_text{
    font-size: 20px;
}


/* header end */

/* content */

.back-content{
    background-color:#3D5A80;
    border:2px #3D5A80 solid;
    /* border:2px green solid; */
    /* min-height:650px; */
}

.layout{
    /* padding:20px; */
    max-width:1500px;
    /* margin:40px auto; */
    /* border : 2px solid yellow; */
}

.part2-1-head{
    font-size:48px;
    color:white;
}

#one,#two,#three{
    background-color: white;
    padding:20px;
    width:80%;
    margin:0 auto;
    /* border:red solid 2px; */
    border-radius: 45px 0px;
    display:flex;
    flex-direction: column;
    max-height:100%;
}

#one-head,#two-head,#three-head{
    font-size:40px;
    text-transform: capitalize;
    color:#3D5A80;
}

#one-txt,#two-txt,#three-txt{
    width:85%;
    /* border:pink solid 2px; */
    margin-left:40px;
    color:#3D5A80;
}

#one-butt,#two-butt,#three-butt{
    /* width:30%; */
    /* border:2px red solid; */
    /* margin-left:220px; */
    align-self: flex-end;
    font-size:26px;
    color:#293241;
}

.back-content p{
    font-size:18px;
}

.curve-shape{
    /* background-color:#3D5A80; */
    /* height:133px; */
    /* border:2px red solid; */
    /* margin-top:20px; */
    position: relative;
    bottom:60px;
    margin-bottom: 10px;
}

.curve-fill{
    background-color:#3D5A80;
    /* height:80px; */
    /* border:rgb(73, 187, 28) 60px solid; */
    margin:-80px;
}


.shape-cont1{
    width:151px;
    height:151px;
    background: #E0FBFC;
    transform: rotate(30deg);
    z-index:3;

    position: relative;
    top:70px;
}

.shape-cont2{
    width:159px;
    height:159px;
    background: #EE6C4D;
    z-index:2;
    border-radius:50%;

    position: relative;
    bottom:150px;
    right:10px;
}

.shape-cont3{
    width: 0; 
    height: 0; 
    border-left: 115px solid transparent;
    border-right: 85px solid transparent;
    border-bottom: 130px solid #98C1D9;
    z-index:1;
    transform: rotate(-135deg);
    
    position: relative;
    bottom:300px;
    left:20px;

}

#view_more_link{
    color:white;
    font-size:20px;
    z-index:5;
    /* border:2px red solid; */
    width:80%;
    text-align: end;
    margin:0 auto;
}

.no-hacks{
    font-size:35px;
    color:whitesmoke;
    /* border:red solid 2px; */
    text-align: center;
}

#testing:active{
    background-color: black;
}

#view_more_link a{
    font-size:35px;
}

/* content end */

/* media queries */



@media only screen and (max-width: 1319px) {
    .part1-2{
        display:none;
    }

    .part1-1{
        top:0px;
    }

    #signIn-elem-1,#signIn-elem-2,#signUp-elem-1,#signUp-elem-2{
        max-width:30%;
    }

    .part1-1{
        width:100%;
        text-align: center;
    }

    #SignIn,#SignUp{
        margin:0 auto;
        max-width:35%;
    }

    #signIn-elem-1,#signIn-elem-2,#signUp-elem-1,#signUp-elem-2{
        max-width:100%;
    }

}

@media only screen and (max-width: 1007px){
    #SignIn{
        max-width:45%;
    }
}

@media only screen and (max-width: 750px){

    #SignIn,#SignUp{
        max-width:55%;
    }

}

@media only screen and (max-width: 622px){

    #SignIn,#SignUp{
        max-width:60%;
        padding:15px 15px 15px 0px;
    }

    #signIn-elem-1,#signIn-elem-2,#signUp-elem-1,#signUp-elem-2{
        /* padding:5px 30px; */
        /* max-width:50%; */
        padding:7px;
    }
    
    .sub-elem{
        /* max-width:50%; */
        /* padding:5px 30px; */
        padding:7px;
        
    }
    
    .login{
        padding:7px 15px;
        font-size:17px;
    }

    .t1{
        font-size:30px;
    }

}

@media only screen and (max-width: 530px){

    #SignIn,#SignUp{
        max-width:80%;
    }

}

@media only screen and (max-width: 385px){
    #SignIn,#SignUp{
        max-width:94%;
    }
}


@media only screen and (max-width:475px){
    .t1{
        font-size:20px;
    }

    .main-head{
        font-size:40px;
    }
}

@media only screen and (max-width:835px){

    #extra_text{
        font-size: 15px;
    }

}

 /* content media queries */

@media only screen and (max-width:992px){
    #one,#two,#three{
        height:initial;
    }
}

@media only screen and (max-width:474px){

    .part2-1-head{
        font-size:32px;
    }

}

@media only screen and (max-width:630px) and (min-width:475px){
    .part2-1-head{
        font-size:44px;
    }
}

@media only screen and (max-width:445px){
    .part2-1-head{
        font-size:28px;
    }
}

@media only screen and (max-width:900px) and (min-width:631px){
    .part2-1-head{
        font-size:48px;
    }
}

@media only screen and (max-width:475px){

    .back-content p{
        font-size:12px;
    }

    #one-head,#two-head,#three-head{
        font-size: 22px;
    }
}

@media only screen and (max-width:745px){
    
    #one,#two,#three{
        width:90%;
    }

}

@media only screen and (min-width:996px) and (max-width:1516px){

    .shape-cont1{
        right:50px;
    }

    .shape-cont2{
        right:60px;
    }

    .shape-cont3{
        left:-60px;
        /* right:500px; */
    }
}


@media only screen and (max-width:995px){
    .shape-cont{
        display: none;
    }

    #view_more_link a{
        font-size:25px;
    }
} 

    /* content media queries end */