/* default code */
* {box-sizing: border-box;}

body{
    margin:0;
}

/* default code end */

/* header */
.main-head{
    /* fo5nt-weight: bold; */
    color:#3D5A80;
}
.t1{
    font-size:32px;
    color:#3D5A80;
}

.layout{
    padding:20px;
    max-width:1450px;
    margin:0 auto;
}

.part1{
    margin:50px 0 70px 0;
    display:flex;
}

.part1-1{
    /* border:2px solid red; */
    width:60%;
}

.part1-2{
    /* border:blue solid 2px; */
    width:40%;
    position: relative;
    top:100px;
}

.butt-getstarted{
    background-color:#3D5A80;
    color:white;
    padding:20px;   
    font-size:40px;
    border-radius:48px;
}

img{
    max-width:100%;
}

.shape1{
    display:inline-block;
    background-color:#98C1D9;
    width:150px;
    height:150px;
    position: relative;
    left:60px;
    top:20px;
}

.shape2{
    display:inline-block;
    background-color:#EE6C4D;
    width:150px;
    height:150px;
    position: relative;
    top:150px;
    align-self: flex-end;
    right:60px;
    z-index:-1;
}


/* header end */

/* content  */

.part2-1{
    background-color:#3D5A80;
    /* padding:100px; */
}

.part2-1-head{
    font-size:60px;
    color:white;
}

#one,#two,#three,#four,#five{
    background-color: white;
    padding:20px;
    width:85%;
    margin:0 auto;
    /* border:red solid 2px; */
    border-top-left-radius:45px;
    border-top-right-radius:45px;
    border-bottom-right-radius:45px;
    display:flex;
    flex-direction: column;
}

#one-head,#two-head,#three-head,#four-head,#five-head{
    font-size:40px;
    text-transform: capitalize;
    color:#3D5A80;
}

#one-txt,#two-txt,#three-txt,#four-txt,#five-txt{
    width:85%;
    /* border:pink solid 2px; */
    margin-left:40px;
    color:#3D5A80;
}

#one-butt,#two-butt,#three-butt,#four-butt,#five-butt{
    /* width:30%; */
    /* border:2px red solid; */
    /* margin-left:220px; */
    align-self: flex-end;
    font-size:26px;
    color:#293241;
}
/* content end */

/* media queries */

@media only screen and (max-width: 1319px) {
    .part1-2,.shape1,.shape2{
        display:none;
    }

    .part1-1{
        width:100%;
        text-align: center;
    }

}