body{
  overflow: scroll;
}
.container  {
  display: flex;
  position: absolute;
  right:45%;
  width: 100%; 
}

.container .row {
  margin: 0 auto;
  width: 100%;
  right:50%;
  
}

.team-no{
  display: block;
  position: relative;
  
  right:38%;
  
  
}
.team-no .row{
  margin:0 auto;
  width:100%;
}
.join{
  display: block;
  position: relative;
  padding-top: 100px;
  left:35%;
}

 