/* content */

.team_name{
    color: #3D5A80;
}

.content label{
    font-size:25px;
    font-weight: 600;
    color: #3D5A80;
}

.content p{
    font-size:25px;
    font-weight: 400;
    color: #213753;
    margin:0;
}


.skills,.team_mates{
    /* border:green solid 2px; */
    width:85%;
    margin:0 auto;
}

.shape1{
    width:151px;
    height:151px;
    background: #E0FBFC;
    transform: rotate(30deg);
    z-index:3;

    position: relative;
    top:130px;
}

.shape2{
    width:159px;
    height:159px;
    background: #EE6C4D;
    z-index:2;
    border-radius:50%;

    position: relative;
    bottom:120px;
}

.shape3{
    width: 0; 
    height: 0; 
    border-left: 115px solid transparent;
    border-right: 85px solid transparent;
    border-bottom: 130px solid #98C1D9;
    z-index:1;
    transform: rotate(-135deg);
    
    position: relative;
    bottom:270px;
    left:40px;
}

.accept_invite{
    /* border:red solid 2px; */
    text-align: end;
    font-size:30px;
}

.reject{
    background-color: white;
    border:none;
    color: #3D5A80;
    padding:12px 25px;
    border:3px #3D5A80 solid;
    border-radius: 8px;
    margin-right:20px;
    cursor: pointer;
    
}

.accept{
    background-color:#3D5A80;
    border:none;
    color:white;
    padding:12px 25px;
    border:3px #3D5A80 solid;
    border-radius: 8px;
    margin-left:20px;
    cursor: pointer;
}

.reject:focus{
    background-color: white;
}

.accept:focus{
    background-color: #3D5A80;
}

/* content end */

/* media queries */

        /* media queries for content */

        @media only screen and (max-width: 600px){

            .team_name{
                font-size:35px;
            }

            .content label{
                font-size:15px;
            }

            .content p{
                font-size:18px;
            }

            .accept,.reject{
                font-size:25px;
            }

            .accept_invite button{
                padding:9px 22px;
            }
        }

        @media only screen and (max-width: 1143px){

            .shapes{
                display: none;
            }

        }

        @media only screen and (max-width: 400px){
            .team_name{
                font-size:32px;
            }

            .content label{
                font-size:12px;
            }

            .content p{
                font-size:15px;
            }

            .accept,.reject{
                font-size:22px;
            }

            .accept_invite button{
                padding:8px 20px;
            }
        }

        /* end of media queries for content */