/* content */

.label1{
    font-size:32px;
    color: #293241;
}

.heading{
    font-size:40px;
    color: #3D5A80;
}
.shape1 svg{
    z-index:3;
    position:absolute;
    right:1%;
    top:34vh;

}

.shape2 svg{
    z-index:2;
    position:absolute;
    right:2%;
    top:26vh;
}

.shape3 svg{
    position: absolute;
    top:20vh;
    right:0;
    z-index:1;

}


.skillz1 span,.skillz2 span{
    
    color: #3D5A80;
}

.search-butt{
    font-size:25px;
    background-color: white;
    color: #3D5A80;
    padding: 6px 14px;
    border: 3px #3D5A80 solid;
    border-radius: 8px;
    margin-right: 20px;
    cursor: pointer;
}

.search-butt:focus{
    background-color: white;
}

.checkbox-blue[type="checkbox"].filled-in:checked + span:not(.lever):after 
{
    border: 2px solid #3D5A80;  
    background-color: #3D5A80;
}


/* content end */

/* footer */

.footer1{
    display: none;
}

/* footer end */

/* media queries */

        /* media queries for content */

        @media only screen and (max-width: 992px){
         .shapes{
             display: none;
         }

         .heading{
            font-size:32px;
        }

        .label1{
            font-size: 26px;
        }

        .search-butt{
            font-size:20px;
        }
        }

        @media only screen and (max-width: 600px) {
            .search-butt{
                font-size: 13px;
            }

            .heading{
                font-size:24px;
            }

            .label1{
                font-size: 18px;
            }
        }


        @media only screen and (max-width: 470px){
            .heading{
                font-size:18px;
            }
            .search-butt{
                font-size:23px;
                padding:3px 16px;
                border: 2px solid #3D5A80;

            }

            .label1{
                font-size:26px;
            }
        }



        /* end of media queries for content */
