
* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

body {
    margin: 0;
}

.back1{
    margin:0;
    min-height:250px;
    opacity: 0.5;
    position: relative;
    z-index: -1;
}

.but1{
    margin:0 auto;
    text-align: center;
}

form{
    position: relative;
    bottom:50px;
    padding:20px;
    z-index: -1;
}




