/* default code */
* {box-sizing: border-box;}

body{
    margin:0;
}

/* default code end */


/* navbar */
.Navbar{
    display: flex;
    margin-top:49px;
}

.heading-nav{
    /* border:2px red solid; */
    width:50%;
    font-size:38px;
    color: #3D5A80;
    padding:20px;
}

.lnks{
    /* border: 2px solid blue; */
    display: flex;
    width:50%;
    justify-content:space-evenly;
    padding:20px;
}

.link1,.link2,.link3{
    /* border:2px red solid; */
    font-size:38px;
}

.link1 a,.link2 a,.link3 a{
    color: #3D5A80;
    padding:0 30px;
}

.mob-Navbar{
    margin-top:13px;
    /* border:2px red solid; */
    /* width:10%; */
    margin-left:10px;
    padding:20px;
    /* text-align: end; */
    /* background-color:black; */
}

#mob-nav-icon{
    font-size:40px;
}

.link1 a:hover, .link2 a:hover, .link3 a:hover{
    background-color: #3D5A80;
    color:white;
    padding:0px 30px;
    border-bottom-left-radius:50px;
    border-top-left-radius:50px;
    border-bottom-right-radius:50px;
    border-top-right-radius:50px;
}


/* navbar end */

/* content */

.head{
    /* border:2px green solid; */
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    font-size:40px;
    color: #3D5A80;

}

.content{
    /* border:2px red solid; */
}

.team{
    /* border:2px solid blue; */
    background: #3D5A80;
    border-radius: 45px 0px;
    padding:25px;
    color:#fff;
}

.team_name,.hack_name,.description{
    /* border:2px purple solid; */
}

.team_name{
    font-size:34px;
}

.hack_name,.description{
    font-size:18px;
}

.list{
    /* border:2px yellow solid; */
    display: flex;
    justify-content: space-between;
    font-size:22px;
}

.item{
    /* border:2px red solid; */
}

/* .shape1{
    width:151px;
    height:151px;
    background: #E0FBFC;
    transform: rotate(30deg);
    z-index:3;

    position: relative;
    top:130px;
}

.shape2{
    width:159px;
    height:159px;
    background: #EE6C4D;
    z-index:2;
    border-radius:50%;

    position: relative;
    bottom:120px;
}

.shape3{
    width: 0; 
    height: 0; 
    border-left: 115px solid transparent;
    border-right: 85px solid transparent;
    border-bottom: 130px solid #98C1D9;
    z-index:1;
    transform: rotate(-135deg);
    
    position: relative;
    bottom:270px;
    left:40px;
} */

#pages{
    /* border:2px red solid; */
    width:80%;
    margin: 0 auto;
    display: flex;
}

.pagination {
    display: inline-block;
    /* background-color:transparent; */
  }
  
  .pagination a {
    color:black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    /* margin:0 auto; */
  }
  
  .pagination a.active {
    border:1px blue solid;
    /* background-color: #293241; */
    color: black;
  }

  .pagination{
    /* border:green 2px solid; */
    margin:0 auto;
    }
  
  .pagination a:hover:not(.active) {background-color: #ddd;}

/* content end */

/* media queries */

        /* for navbar */
        @media only screen and (min-width: 993px){
            .mob-Navbar{
                display:none;
            }
        }
        
        @media only screen and (max-width: 1299px){
        
            .heading-nav{
                font-size:35px;
            }
        
            .link1,.link2,.link3{
                font-size:35px;
            }
        
        }
        
        @media only screen and (max-width: 992px){
            .lnks{
                display: none;
            }
        
            .heading-nav{
                text-align: end;
                font-size:40px;
                margin-right:20px;
            }
        
            .Navbar{
                justify-content: space-between;
            }
        }
        
        @media only screen and (max-width: 992px){
            .lnks{
                display: none;
            }
        
            .heading-nav{
                text-align: end;
                font-size:40px;
            }
        
            .Navbar{
                justify-content: space-between;
            }
        }
        
        @media only screen and (max-width: 444px){
            .heading-nav{
                font-size:30px;
            }
        
            #mob-nav-icon{
                font-size:30px;
            }
        }
        
           /* navbar media queries end */

        /* media queries for content */

        /* @media only screen and (max-width: 992px){
            .shapes{
                display:none;
            }
        } */

        @media only screen and (max-width: 800px){
            
            .head h2{
                font-size:30px;
            }

            .team_name{
                font-size:24px;
            }
            
            .hack_name,.description{
                font-size:12px;
            }
            
            .list{
                font-size:16px;
            }

        }

        @media only screen and (max-width: 400px){

            .team{
                padding:20px;
            }
        }

        /* end of media queries for content */