/* default code */
* {box-sizing: border-box;}

body{
    margin:0;
}

/* for preloader */
.spinner-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #3D5A80;
    z-index: 999999;
    }

.spinner{
    position: absolute;
    top: 48%;
    left: 48%;
}

.sk-folding-cube {
    margin: 20px auto;
    width: 40px;
    height: 40px;
    position: relative;
    -webkit-transform: rotateZ(45deg);
            transform: rotateZ(45deg);
  }
  
  .sk-folding-cube .sk-cube {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1); 
  }
  .sk-folding-cube .sk-cube:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
            animation: sk-foldCubeAngle 2.4s infinite linear both;
    -webkit-transform-origin: 100% 100%;
        -ms-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
  }
  .sk-folding-cube .sk-cube2 {
    -webkit-transform: scale(1.1) rotateZ(90deg);
            transform: scale(1.1) rotateZ(90deg);
  }
  .sk-folding-cube .sk-cube3 {
    -webkit-transform: scale(1.1) rotateZ(180deg);
            transform: scale(1.1) rotateZ(180deg);
  }
  .sk-folding-cube .sk-cube4 {
    -webkit-transform: scale(1.1) rotateZ(270deg);
            transform: scale(1.1) rotateZ(270deg);
  }
  .sk-folding-cube .sk-cube2:before {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s;
  }
  .sk-folding-cube .sk-cube3:before {
    -webkit-animation-delay: 0.6s;
            animation-delay: 0.6s; 
  }
  .sk-folding-cube .sk-cube4:before {
    -webkit-animation-delay: 0.9s;
            animation-delay: 0.9s;
  }
  @-webkit-keyframes sk-foldCubeAngle {
    0%, 10% {
      -webkit-transform: perspective(140px) rotateX(-180deg);
              transform: perspective(140px) rotateX(-180deg);
      opacity: 0; 
    } 25%, 75% {
      -webkit-transform: perspective(140px) rotateX(0deg);
              transform: perspective(140px) rotateX(0deg);
      opacity: 1; 
    } 90%, 100% {
      -webkit-transform: perspective(140px) rotateY(180deg);
              transform: perspective(140px) rotateY(180deg);
      opacity: 0; 
    } 
  }
  
  @keyframes sk-foldCubeAngle {
    0%, 10% {
      -webkit-transform: perspective(140px) rotateX(-180deg);
              transform: perspective(140px) rotateX(-180deg);
      opacity: 0; 
    } 25%, 75% {
      -webkit-transform: perspective(140px) rotateX(0deg);
              transform: perspective(140px) rotateX(0deg);
      opacity: 1; 
    } 90%, 100% {
      -webkit-transform: perspective(140px) rotateY(180deg);
              transform: perspective(140px) rotateY(180deg);
      opacity: 0; 
    }
  }

 /* pre-loader-end */

/* default code end */


/* content */

.back-content{
    background-color:#3D5A80;
    border:2px #3D5A80 solid;
    /* border:2px green solid; */
}

.layout{
    /* padding:20px; */
    max-width:1500px;
    margin:40px auto;
    /* border : 2px solid yellow; */
}

.part2-1-head{
    font-size:48px;
    color:white;
}

#one,#two,#three,#four,#five{
    background-color: white;
    padding:20px;
    width:80%;
    margin:0 auto;
    /* border:red solid 2px; */
    border-radius: 45px 0px;
    display:flex;
    flex-direction: column;
    max-height:100%;
}

#one-head,#two-head,#three-head,#four-head,#five-head{
    font-size:40px;
    text-transform: capitalize;
    color:#3D5A80;
}

#one-txt,#two-txt,#three-txt,#four-txt,#five-txt{
    width:85%;
    /* border:pink solid 2px; */
    margin-left:40px;
    color:#3D5A80;
}

#one-butt,#two-butt,#three-butt,#four-butt,#five-butt{
    /* width:30%; */
    /* border:2px red solid; */
    /* margin-left:220px; */
    align-self: flex-end;
    font-size:26px;
    color:#293241;
}

.back-content p{
    font-size:18px;
}

.shape-cont1{
    width:151px;
    height:151px;
    background: #E0FBFC;
    transform: rotate(30deg);
    z-index:3;

    position: relative;
    top:70px;
}

.shape-cont2{
    width:159px;
    height:159px;
    background: #EE6C4D;
    z-index:2;
    border-radius:50%;

    position: relative;
    bottom:150px;
    right:10px;
}

.shape-cont3{
    width: 0; 
    height: 0; 
    border-left: 115px solid transparent;
    border-right: 85px solid transparent;
    border-bottom: 130px solid #98C1D9;
    z-index:1;
    transform: rotate(-135deg);
    
    position: relative;
    bottom:300px;
    left:20px;

}

#pages{
    /* border:2px red solid; */
    width:80%;
    margin: 0 auto;
    display: flex;
}

.pagination {
    /* display: inline-block; */
    background-color:transparent;
    /* border:2px solid blue; */
  }
  
  .pagination a {
    color:white;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    /* margin:0 auto; */
    /* border:pink 2px solid; */
  }
  
  .pagination a.active {
    border:2px white solid;
    /* background-color: #293241; */
    color: white;
  }

  .pagination{
    max-width:100%;
    /* border:green 2px solid; */
    margin:0 auto;
    /* text-align: center; */
    }
  
  .pagination a:hover:not(.active) {
      background-color: #ddd;
      border:2px #ddd solid;
      
    }

/* content end */

/* footer */

.foot-items{
    display: flex;
    justify-content: space-between;
    /* align-items: baseline; */
    padding:80px;
    /* border:2px solid red; */
}

.foot1{
    /* border:2px yellow solid; */
    width:50%;
    font-size:24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* align-self: flex-start; */
    color: #3D5A80;
}

.foot2{
    /* border:2px solid blue; */
    font-size:24px;
    display:flex;
    width:30%;
    justify-content: space-evenly;
    /* align-items: ; */
}

.foot-logo{
    /* border:2px purple solid; */
    text-align: center;
}

.foot-logo p{
    font-size:22px;
    color: #000000;
}

#copyright{
    position: relative;
    top:5px;
}

/* footer end */


/* content media queries */

@media only screen and (max-width:992px){
    #one,#two,#three,#four,#five{
        height:initial;
    }
}

@media only screen and (max-width:474px){

    .part2-1-head{
        font-size:32px;
    }

}

@media only screen and (max-width:630px) and (min-width:475px){
    .part2-1-head{
        font-size:44px;
    }
}

@media only screen and (max-width:445px){
    .part2-1-head{
        font-size:28px;
    }
}

@media only screen and (max-width:900px) and (min-width:631px){
    .part2-1-head{
        font-size:48px;
    }
}

@media only screen and (max-width:475px){

    .back-content p{
        font-size:12px;
    }

    #one-head,#two-head,#three-head,#four-head,#five-head{
        font-size: 22px;
    }
}

@media only screen and (max-width:745px){
    
    #one,#two,#three,#four,#five{
        width:90%;
    }

}

@media only screen and (min-width:996px) and (max-width:1516px){

    .shape-cont1{
        right:50px;
    }

    .shape-cont2{
        right:60px;
    }

    .shape-cont3{
        left:-60px;
        /* right:500px; */
    }
}


@media only screen and (max-width:995px){
    .shape-cont{
        display: none;
    }

    .pagination{
        display:flex;
        justify-content: center;
    }
} 

    /* content media queries end */

/* footer media queries  */

@media only screen and (max-width:915px){

    .foot-items{
        flex-direction: column;
        padding:40px;
    }

    .foot1{
        width: 100%;
        text-align: center;
        /* flex-direction: row; */
        display: initial;
    }

    .foot2{
        display: initial;
        width: 100%;
        text-align: center;
        margin-top:20px;
    }

}

@media only screen and (max-width:480px){
    .foot-logo svg{
        display: none;
    }

    .foot1{
        font-size:16px;
    }

    .foot-logo{
        font-size:18px;
    }

    .foot-logo p{
        font-size:17px;
    }

}

/* footer media queries end  */