/* header  */

.layout {
    /* padding:20px; */
    max-width: 1500px;
    margin: 0 auto;
    /* border : 2px solid yellow; */
    min-height: 80vh;
}

.head1 {
    display: flex;
    /* border: 2px solid green; */
    margin: 50px 0 70px 0;
    align-items: center;
}

.head1-1 {
    /* border: 2px red solid; */
    /* width:50%; */
    padding: 60px;

}

.head1-1 p {
    font-size: 40px;
    color: #3D5A80;
    position: relative;
    left:2vw;
}

.head1-1 a {
    font-size: 32px;
    color: #293241;
    text-decoration-line: underline;
    position: relative;
    left:2vw;
}

.head1-2 {
    /* border: 2px yellow solid; */
    /* width: 50%; */
    padding: 60px;
}

.head1-2-mob {
    display: none;
}

.head1-2 img, .head1-2-mob img {
    max-width: 100%;
}

.head1-2-mob img {
    width: 60%;
}

.head1 a:hover {
    text-decoration: none;
    color: #3D5A80;
}

/* header end */


/* content */

.back-content{
    background-color:#3D5A80;
    border:2px #3D5A80 solid;
    /* border:2px green solid; */
    /* min-height:650px; */
    min-height:100vh;
    overflow: hidden;
    position: relative;
}

.layout{
    /* padding:20px; */
    max-width:1500px;
    margin:40px auto;
    /* border : 2px solid yellow; */
}

.part2-1-head{
    font-size:40px;
    color:white;
}

#one,#two,#three{
    background-color: white;
    padding:20px;
    width:70%;
    margin:0 auto;
    /* border:red solid 2px; */
    border-radius: 45px 0px;
    display:flex;
    flex-direction: column;
    max-height:100%;
}

#one-head,#two-head,#three-head{
    font-size:30px;
    text-transform: capitalize;
    color:#3D5A80;
}

#one-txt,#two-txt,#three-txt{
    width:85%;
    font-size:20px;
    /* border:pink solid 2px; */
    margin-left:40px;
    color:#3D5A80;
}

#one-butt,#two-butt,#three-butt{
    /* width:30%; */
    /* border:2px red solid; */
    /* margin-left:220px; */
    align-self: flex-end;
    font-size:26px;
    color:#293241;
}

.curve-shape{
    position: relative;
    top:1.6vh;
}


.shape1 svg{
    z-index:3;
    position: relative;
    top:6vh;
    right:80%;
}

.shape2 svg{
    z-index: 2;
    position: relative;
    bottom:30vh;
    right:60%;
}

.shape3 svg{
    z-index: 1;
    position: relative;
    bottom:60vh;
    right:1vw;
}

#view_more_link{
    color:white;
    font-size:20px;
    z-index:5;
    /* border:2px red solid; */
    width:70%;
    text-align: end;
    margin:0 auto;
}

.no-hacks{
    font-size:26px;
    color:whitesmoke;
    /* border:red solid 2px; */
    text-align: center;
}

#view_more_link a{
    font-size:30px;
}

#view_more_link a:hover{
    text-decoration: underline;
}

/* content end */

/* media queries */

/* header media queries  */


@media only screen and (max-width:992px) {
    .head1-2-mob {
        display: initial;
        text-align: center;
    }
    .head1-2{
        display: none;
    }

    .shapes{
        display: none;
    }
    .head1 {
        flex-direction: column;
    }
    .head1-1 {
        text-align: center;
    }
    .head1-1 p {
        font-size: 34px;
        left:0;
    }
    .head1-1 a {
        font-size: 28px;
        left:0;
    }
}

@media only screen and (max-width: 424px){

    .head1-1 p {
        font-size: 22px;
    }
    .head1-1 a {
        font-size: 14px;
    }

    .head1-2-mob img {
        width: 90%;
    }

}

@media only screen and (min-width:425px) and (max-width:600px) {

    .head1-1 p {
        font-size: 28px;
    }
    .head1-1 a {
        font-size: 22px;
    }

    .head1-2-mob img {
        width: 80%;
    }
    
}


/* end header media queries */


/* content media queries */

@media only screen and (max-width:992px){
    #one,#two,#three{
        height:initial;
    }

    #one,#two,#three{
        width:80%;
    }

    .part2-1-head{
        font-size:34px;
    }

    #one-head,#two-head,#three-head,#view_more_link a{
        font-size: 24px;
    }

    #one-txt,#two-txt,#three-txt{
        font-size: 18px;
    }

    #one-butt,#two-butt,#three-butt{
        font-size: 20px;
    }

    #view_more_link{
        width:80%;
    }


}


@media only screen and (max-width:600px){
    
    #one,#two,#three{
        border-radius:26px 0;
        width:98%;
    }

    .part2-1-head{
        font-size:28px;
    }

    #one-head,#two-head,#three-head,#view_more_link a{
        font-size: 18px;
    }

    #one-txt,#two-txt,#three-txt{
        font-size: 12px;
    }

    #one-butt,#two-butt,#three-butt{
        font-size: 14px;
    }

    #view_more_link{
        width:98%;
    }

}


    /* content media queries end */