
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height:100vh;
    background-color: white;
}
.container{
    width: 800px;
    background:white;
    border-radius: 5px;
    text-align: center;
    padding:  250px 10px 30px;
    margin-top: -240px;
    margin-bottom: 50px;
    
}
textarea{
    height: 200px;
}
h1
{
font-family: Muli;
font-style: normal;
font-weight: normal;
display: flex;
white-space: nowrap;
text-overflow: ellipsis;
text-align: center;
font-size: 40px;
margin-left: -100px;
color: #3D5A80;
}
.container .form-outer{
    width: 100%;
    overflow: hidden;
    background: rgba(196, 196, 196, 0.1);
    border-radius: 5px;
    
    
}
.form-outer form{
    display: flex;
    width: 500%;

}
.form-outer form .page{
    width: 25%;
    transition: margin-left 0.3s ease-in-out;
}
.form-outer form .page .title{
    text-align:left;
    font-weight:300;
    background-color: white;
    font-size: 30px;
    color: #3D5A80;
    font-family: Montserrat;
}
.form-outer form .page .field{
    height:50px;
    width:700px;
    margin:50px 50px 50px 50px;
    position: relative;
    display: flex;
}

.form-outer form .page .field .label{
    position:absolute;
    top:-30px;
    font-weight:normal;
    color: #3D5A80;
    font-size: 25px;
    font-family: Montserrat;
}
.form-outer form .page .field input{
    height: 100%;
    width:100%;
    border:1px solid lightgray;
    border-radius: 5px;
    font-size: 30px;
    padding-left: 15px;
    background: rgba(41, 50, 65, 0.1);
}
.form-outer form .page .field button{
    width: 10%;
    margin-top: -10px;
    border: none;
    background-color: #3D5A80;
    color: white;
    border-radius:50%;
    transition: 0.3s ease;
    margin-left: 600px;
    cursor: pointer;
}

.form-outer form .page .field button:hover{
    background:#3D5A80;
}
.container .progress-bar{
    display: flex;
    margin: 40px 0;

}
.container .progress-bar .step{
    position: relative;
    width:100%;
}
.progress-bar .step .bullet{
    position: relative;
    height: 50px;
    width: 50px;
    border: 2px solid #3D5A80;
    display:inline-block;
    border-radius: 50%;
    transition: 0.2s;
}
.progress-bar .step .bullet.active{
   border-color: #3D5A80;
    background: #3D5A80;
}
.progress-bar .step:last-child .bullet:before,.progress-bar .step:last-child .bullet:after{
display: none;
}
.progress-bar .step .bullet:before,.progress-bar .step .bullet:after{
position: absolute;
content: '';
bottom: 20px;
right: -215px;
height: 2px;
width: 215px;
background:#3D5A80;
}
.progress-bar .step .bullet.active:after{
    background: #3D5A80;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 0.3s linear forwards;
}
@keyframes animate{
    100%{
        transform: scaleX(1);

    }

}
.progress-bar .step .bullet span{
    font-weight: 500;
    font-size: 22px;
    line-height: 50px;
    position: absolute;
    left: 40%;
    transition: translateX(-50%);
    color: #3D5A80;
    font-family: Montserrat;
}
.progress-bar .step .bullet.active span{
    display: none;
}
.progress-bar .step .check{
    position: absolute;
    left: 50%;
    top:50%;
    font-size: 15px;
    transform: translate(-50%,-50%);
    display: none;
}
.progress-bar .step .check.active{
    display: block;
    color: white;
}
@media screen and (max-width: 568px){
   .container{
       width: 460px;
       padding-left: 200px;
   }
   h1{
      font-size: 40px;
      margin-left: 10px;
   }
 form{
     width: 800px;
 }
 .form-outer form .page .title{
     font-size: 36px;
 }
 .form-outer form .page .field{
     width: 350px;
 }
 .form-outer form .page .field .label{
     font-size: 22px;
    white-space: nowrap;
 }
 .form-outer form{
     width:400%;
    
 }
 .form-outer form .page .field button{
     margin-left: 280px;
     border-radius: 50%;
 }
 .progress-bar .step .bullet:before,.progress-bar .step .bullet:after{
     width:100px;
     right: -100px;
 }
}