/* default code */
* {box-sizing: border-box;}

body{
    margin:0;
    font-family: Muli;
    font-style: normal;
    font-weight: normal;
}

br { 
    display: block; 
    margin: 6px 0; 
    } 
     
br + br { 
    display: none; 
}

/* for preloader */
.spinner-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #3D5A80;
    z-index: 999999;
    }

.spinner{
    position: absolute;
    top: 48%;
    left: 48%;
}

.sk-folding-cube {
    margin: 20px auto;
    width: 40px;
    height: 40px;
    position: relative;
    -webkit-transform: rotateZ(45deg);
            transform: rotateZ(45deg);
  }
  
  .sk-folding-cube .sk-cube {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1); 
  }
  .sk-folding-cube .sk-cube:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
            animation: sk-foldCubeAngle 2.4s infinite linear both;
    -webkit-transform-origin: 100% 100%;
        -ms-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
  }
  .sk-folding-cube .sk-cube2 {
    -webkit-transform: scale(1.1) rotateZ(90deg);
            transform: scale(1.1) rotateZ(90deg);
  }
  .sk-folding-cube .sk-cube3 {
    -webkit-transform: scale(1.1) rotateZ(180deg);
            transform: scale(1.1) rotateZ(180deg);
  }
  .sk-folding-cube .sk-cube4 {
    -webkit-transform: scale(1.1) rotateZ(270deg);
            transform: scale(1.1) rotateZ(270deg);
  }
  .sk-folding-cube .sk-cube2:before {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s;
  }
  .sk-folding-cube .sk-cube3:before {
    -webkit-animation-delay: 0.6s;
            animation-delay: 0.6s; 
  }
  .sk-folding-cube .sk-cube4:before {
    -webkit-animation-delay: 0.9s;
            animation-delay: 0.9s;
  }
  @-webkit-keyframes sk-foldCubeAngle {
    0%, 10% {
      -webkit-transform: perspective(140px) rotateX(-180deg);
              transform: perspective(140px) rotateX(-180deg);
      opacity: 0; 
    } 25%, 75% {
      -webkit-transform: perspective(140px) rotateX(0deg);
              transform: perspective(140px) rotateX(0deg);
      opacity: 1; 
    } 90%, 100% {
      -webkit-transform: perspective(140px) rotateY(180deg);
              transform: perspective(140px) rotateY(180deg);
      opacity: 0; 
    } 
  }
  
  @keyframes sk-foldCubeAngle {
    0%, 10% {
      -webkit-transform: perspective(140px) rotateX(-180deg);
              transform: perspective(140px) rotateX(-180deg);
      opacity: 0; 
    } 25%, 75% {
      -webkit-transform: perspective(140px) rotateX(0deg);
              transform: perspective(140px) rotateX(0deg);
      opacity: 1; 
    } 90%, 100% {
      -webkit-transform: perspective(140px) rotateY(180deg);
              transform: perspective(140px) rotateY(180deg);
      opacity: 0; 
    }
  }

 /* pre-loader-end */

/* default code end */


/* header  */

.header{
    display: flex;
    /* border:red 2px solid; */
    /* padding:50px; */
}

.part1{
    /* border:green 2px solid; */
    width:72%;
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    /* justify-content: start; */
}

.part2{
    /* border:blue solid 2px; */
    width:28%;
    /* overflow-x: hidden; */
    overflow: hidden;
    position: relative;
    /* bottom:40px; */
}

.part1-a{
    /* border:5px grey solid; */
    font-size:40px;
    color: #3D5A80;
    width:85%;
    /* margin:0 auto; */
    margin-left: auto;
    margin-right: auto;

}

.part1-b{
    display: flex;
    /* border:5px pink solid; */
    width:60%;
    align-self: flex-end;
    justify-content: space-between;
    align-items: center;
    /* padding:50px; */
    position: relative; 
    /* bottom:30px; */
    /* right:50px; */
    text-align: center;
}

.point{
    /* border:2px solid blue; */
    /* margin:0px 50px 0 50px; */
    /* height: 40%; */
    /* width: 10%; */
    border-radius: 50%;
    /* border-style:solid;
    border-color:black; */
    border: 3px solid #3D5A80;
    font-size:25px;
    padding:10px 16px;
    margin: 0;
    text-align: center;
    color: #3D5A80;
}

.line{
    border: 4px solid #3D5A80;
    width:45%;
    height:0%;
    visibility: hidden;
}

.shape1{
    width:112px;
    height:112px;
    background: #E0FBFC;
    transform: rotate(30deg);
    z-index:3;

    position: relative;
    top:170px;
    left:170px;
}

.shape2{
    width:120px;
    height:120px;
    background: #EE6C4D;
    z-index:2;
    border-radius:50%;

    position: relative;
    left:170px;
}

.shape3{
    width: 0; 
    height: 0; 
    border-left: 95px solid transparent;
    border-right: 65px solid transparent;
    border-bottom: 110px solid #98C1D9;
    z-index:1;
    transform: rotate(-135deg);
    
    position: relative;
    bottom:110px;
    left:200px;

}

/* header end */

/* content */

.content{
    max-width:1150px;
    /* border:2px solid red; */
    margin:0 auto;
}

.form1-head{
    font-size:40px;
    color: #3D5A80;
    /* border:2px green solid; */
    width:80%;
    margin:0 auto;
    /* position: relative; */
    /* bottom:40px; */
}

.form2,.form3{
    display:none;
}

.form1,.form2,.form3{
    position: relative;
    bottom:90px;
}


.form1-cont,.form2-cont{
    /* border:2px blue solid; */
    width:60%;
    margin:0 auto;
    display: flex;
    flex-direction: column;
    background-color:rgba(196, 196, 196, 0.1);
    padding:20px;
}

.form1-cont label,.form2-cont label{
    font-size:25px;
    color: #3D5A80;
    width:80%;
    margin-left:5px;
    align-self: center;
}

#label-form2{
    font-size:20px;
    /* border:green solid 2px; */
}

.form2-inps{
    color: #3D5A80;
    width:80%;
    align-self: center;
}

.txt-inp{
    width:80%;
    padding:15px;
    width:80%;
    height:20vh;
    background: rgba(41, 50, 65, 0.1);
    /* border:red solid 2px; */
    align-self: center;
    border-style: solid;
    border-color:rgba(41, 50, 65, 0.1);
    color:#3D5A80;
    font-size:20px;
}

.form1-cont input{
    padding:15px;
    width:80%;
    background: rgba(41, 50, 65, 0.1);
    /* border:red solid 2px; */
    align-self: center;
    border-style: solid;
    border-color:rgba(41, 50, 65, 0.1);
    color:#3D5A80;
    font-size:20px;
}


.form1-butt{
    display:flex;
    justify-content: space-between;
    /* border:green solid 2px; */
    /* height:50px; */
    width:80%;
    margin:0 auto;
    /* text-align: end; */
    
}

.form1-butt-uniq{
    display:flex;
    justify-content:flex-end;
    /* border:green solid 2px; */
    /* height:50px; */
    width:80%;
    margin:0 auto;
    /* text-align: end; */
    
}

#form1-butt-2,#form2-butt-2,#form3-butt-2{
    /* text-align:right; */
    /* border:2px red solid; */
    /* margin-right:0; */
    /* align-self: flex-end; */
    /* justify-self: end; */
    /* justify-items: flex-end; */
    /* place-self:end; */
    background: #3D5A80;
    border-radius: 8px;
    color:white;
    font-size: 20px;
    border:1px #3D5A80 solid;
    padding:10px 25px;
    cursor: pointer;
}

#form2-butt-1,#form3-butt-1{
    border-radius: 8px;
    color:#3D5A80 ;
    font-size: 20px;
    border:3px solid #3D5A80 ;
    padding:10px 25px;
    cursor: pointer;
}

#form1-butt-2:focus,#form2-butt-1:focus,#form2-butt-2:focus,#form3-butt-1:focus,#form3-butt-2:focus{
outline: none;
}



/* content end */

/* common  */

input:focus{
    outline-color: transparent;
    color:#3D5A80;
    font-size:20px;
}

textarea:focus{
    outline-color: transparent;
    color:#3D5A80;
    font-size:18px;
}



/* common end */


/* media queries */


    /* media queries for header */

@media only screen and (max-width:1023px){

    .part2{
        display:none;
    }

    .part1{
        width:100%;
    }

    .part1-b{
        margin:0 auto;
        right:0px;
    }

    /* .point{
        font-size:40px;
    } */

    .header{
        margin-bottom:30px;
    }

    .form1,.form2,.form3{
        bottom:0px;
    }
}

@media only screen and (max-width:705px){
    .part1-a{
        font-size:30px;
    }

    /* .point{
        font-size:30px;
    } */
}

@media only screen and (max-width:610px){
    /* .point{
        font-size:25px;
        border: 2px solid #3D5A80;
    } */

    .line{
        border: 4px solid #3D5A80;
    }
}

@media only screen and (max-width:1388px) and (min-width:1248px){
    .shape1{
        left:130px;
    }

    .shape2{
        left:130px;
    }

    .shape3{
        left:160px;
    }
}

@media only screen and (max-width:1247px){
    .shape1{
        left:90px;
    }

    .shape2{
        left:90px;
    }

    .shape3{
        left:120px;
    }
}

@media only screen and (max-width:483px){
    /* .point{
       height:16%;
       width:25%;
    } */

    .part1-a{
        font-size:22px;
    }
}

    /* end of media queries for header  */

    /* media queries for content */
@media only screen and (max-width:705px){
    
    .form1-head{
        font-size:30px;
    }

    .form1-cont input{
        padding:10px;
    }

    .form2-cont label,.form1-cont label{
        font-size:16px;
    }

    #label-form2{
        font-size:14px;
    }

}

@media only screen and (max-width:483px){
    .form1-head{
        font-size:22px;
    }

    .form2-cont label,.form1-cont label{
        font-size:13px;
    }
}

@media only screen and (max-width:529px){
    #label-form2{
        font-size:11px;
    }
}
    /* end of media queries for content */


    /* common media queries */

@media only screen and (max-width:770px){

    #form1-butt-2,#form2-butt-2,#form3-butt-2{
        padding:5px 10px;
        font-size:16px; 
    }
    #form2-butt-1,#form3-butt-1{
        padding:5px 10px;
        font-size:16px;
    }
}


    /* common media queries end */