/* content */

.profiles {
    background: #3D5A80;
    border-radius: 45px 0px;
    padding: 25px;
}

.head {
    /* border:2px green solid; */
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    font-size: 40px;
    color: #3D5A80;
}

.list {
    color: #fff;
    display: flex;
    /* border:red solid 2px; */
}

.item {
    /* border:2px blue solid; */
    padding: 0 30px;
    /* margin:0 auto; */
    font-size: 14px;
}

.text {
    /* border:2px purple solid; */
    font-size: 23px;
    color: #fff;
}

#profile-name {
    font-size: 34px;
}

.shape1 {
    width: 151px;
    height: 151px;
    background: #E0FBFC;
    transform: rotate(30deg);
    z-index: 3;
    position: relative;
    top: 130px;
}

.shape2 {
    width: 159px;
    height: 159px;
    background: #EE6C4D;
    z-index: 2;
    border-radius: 50%;
    position: relative;
    bottom: 120px;
}

.shape3 {
    width: 0;
    height: 0;
    border-left: 115px solid transparent;
    border-right: 85px solid transparent;
    border-bottom: 130px solid #98C1D9;
    z-index: 1;
    transform: rotate(-135deg);
    position: relative;
    bottom: 270px;
    left: 40px;
}

#pages {
    /* border:2px red solid; */
    width: 80%;
    margin: 0 auto;
    display: flex;
}

.pgs, .nextpg, .backpg {
    font-size: 20px;
}

.pagination {
    /* display: inline-block; */
    background-color: transparent
}

.pagination a {
    color: #3D5A80;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    /* margin:0 auto; */
}

.pagination a.active {
    border: 2px #3D5A80 solid;
    /* background-color: #293241; */
    color: #3D5A80;
}

.pagination {
    /* border:green 2px solid; */
    max-width: 100%;
    margin: 0 auto;
}

.pagination a:hover:not(.active) {
    /* background-color: #3d5a8065; */
    border: 2px #3D5A80 solid;
}

/* content end */

/* footer */

.footer1 {
    display: none;
}

/* footer end */

/* media queries */

/* media queries for content */

@media only screen and (max-width: 992px) {
    .head h2 {
        font-size: 44px;
    }
}

@media only screen and (max-width: 600px) {
    .head h2 {
        font-size: 38px;
    }
    .profiles {
        border-radius: 26px 0px;
    }
}

@media only screen and (max-width:500px) {
    .pgs, .nextpg, .backpg {
        font-size: 15px;
    }
}

@media only screen and (max-width: 1143px) {
    .shapes {
        display: none;
    }
}

@media only screen and (max-width: 861px) {
    .item {
        padding: 0 20px;
        font-size: 12px;
    }
}

@media only screen and (max-width: 465px) {
    .list {
        flex-direction: column;
    }
    .text {
        font-size: 17px;
    }
    #profile-name {
        font-size: 26px;
    }
}

@media only screen and (max-width:995px) {
    .pagination {
        display: flex;
        justify-content: center;
    }
}

/* end of media queries for content */