#hackname{
    margin-top:10px ;
padding-left: 200px;
font-weight: normal;
font-family: Muli;
font-size: 55px;
color: #3D5A80;
} #venue{
    font-size: 24px;
    font-family: Muli;
    padding-left: 200px;
    font-weight: normal;
    color: #3D5A80;
    margin-top: -15px;
}
 #date{
    font-size: 24px;
    font-family: Muli;
    padding-left: 200px;
    color: #3D5A80;
    font-weight: normal;
}
p{
    font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 24px;
padding-left: 200px;
color: #3D5A80;
padding-top: 20px;
margin-bottom: 0px;
padding-right: 150px;
}
#hacklink,#viewlink,#createlink{font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 24px;
padding-left: 200px;
color: #3D5A80;
} 
.btns #view{
    height: 40px;

}
.btns #create{
    height: 40px;
    width: 95px;
    padding-left: 10px;

}
#arrow{
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    outline: none;
  
}
#view,#create{
    border: 2px solid #3D5A80;
    box-sizing: border-box;
    width:85px;
    height:30px;
    font-size:20px;
    color:#3D5A80;
    background-color:white;
    cursor:pointer;
    outline:none;
    border-radius: 7px;
    margin-bottom: 25px;
}
 #view:hover,#create:hover{
    background-color: #3D5A80;
    color:white;
}

@media only screen and (max-width: 568px){
    .arrow #arrowm{
        margin-left:-110px;
    }
    #hackname,#date,#venue,#create,p,#hacklink{
        margin-left: -150px;
    }
    p{padding-right:20px;
    }
#viewlink{
        margin-left: -150px; 
        position: absolute;
  }
  #createlink{
      position: absolute;
      padding-left: 350px;
      
  }
.arrow1{
    margin-left: -150px;
}  

} 


.Navbar{ 
    display: flex;
    margin-top:49px;
}

.heading-nav{
    /* border:2px red solid;  */
    width:50%;
    font-size:38px;
    color: #3D5A80;
    padding:20px;
}

.lnks{
    /* border: 2px solid blue; */
    display: flex;
    width:50%;
    justify-content:space-evenly;
    padding:20px;
}

.link1,.link2,.link3{
    /* border:2px red solid; */
    font-size:38px;
}

.link1 a,.link2 a,.link3 a{
    color: #3D5A80;
    padding:0 30px;
}

.mob-Navbar{
    margin-top:13px;
    /* border:2px red solid; */
    /* width:10%; */
    margin-left:10px;
    padding:20px;
    /* text-align: end; */
    /* background-color:black; */
}

#mob-nav-icon{
    font-size:40px;
}

.link1 #lnk1:hover, .link2 #lnk2:hover, .link3 #lnk3:hover{
    background-color: #3D5A80;
    color:white;
    padding:0px 30px;
    border-bottom-left-radius:50px;
    border-top-left-radius:50px;
    border-bottom-right-radius:50px;
    border-top-right-radius:50px;
}
@media only screen and (min-width: 993px){
    .mob-Navbar{
        display:none;
    }
}

@media only screen and (max-width: 1299px){

    .heading-nav{
        font-size:35px;
    }

    .link1,.link2,.link3{
        font-size:35px;
    }

}

@media only screen and (max-width: 992px){
    .lnks{
        display: none;
    }

    .heading-nav{
        text-align: end;
        font-size:40px;
        margin-right:20px;
    }

    .Navbar{
        justify-content: space-between;
    }
}

@media only screen and (max-width: 992px){
    .lnks{
        display: none;
    }

    .heading-nav{
        text-align: end;
        font-size:40px;
    }

    .Navbar{
        justify-content: space-between;
    }
}

@media only screen and (max-width: 444px){
    .heading-nav{
        font-size:30px;
    }

    #mob-nav-icon{
        font-size:30px;
    }
}