/* content */

.hack_name{
    color: #3D5A80;
}

.content label{
    font-size:20px;
    color: #3D5A80;
}

.content p{
    font-size:25px;
    color: #213753;
    margin:0;
}


.skills,.team_mates{
    /* border:green solid 2px; */
    width:85%;
    margin:0 auto;
}


.shapes img{
    max-width:100%;
    max-height:300px;
}



.invite{
    /* border:2px red solid; */
    text-align: end;
    font-size:30px;
}

.invite button{
    background-color:#3D5A80;
    padding:12px 25px;
    border-radius: 8px;
    border:1px #3D5A80 solid;
}

.invite button:focus{
    background-color: #3D5A80;
}

.invite button a{
    color:white;
}


.team-butt{
    /* border:2px pink solid; */
    display: flex;
    justify-content:flex-end;
    /* display: none; */
}

.team-butt-cover{
    /* border:2px solid red; */
    width:45%;
    display: flex;
    /* justify-content: space-between; */
    justify-content: flex-end;
}

.delete-team{
    color: #3D5A80;
    background-color: white;
    font-size:24px;
    padding:10px 25px;
    border:3px #3D5A80 solid;
    border-radius: 8px;
    margin-right:20px;
    cursor: pointer;
}

.edit-team{
    color: white;
    background:#3D5A80;
    font-size:24px;
    padding:10px 25px;
    border:3px #3D5A80 solid;
    border-radius: 8px;
    margin-left:20px;
    cursor: pointer;
    min-width:124.44px;
}

.edit-team:focus{
    background-color:#3D5A80;
    outline: none;
}

.delete-team:focus{
    background-color: white;
    outline: none;
}

/* content end */

/* media queries */
        /* media queries for content */

        @media only screen and (max-width: 600px){

            .hack_name{
                font-size:35px;
            }

            .content label{
                font-size:15px;
            }

            .content p{
                font-size:18px;
            }

            .invite{
                font-size:25px;
            }

            .invite button{
                background-color:#3D5A80;
                padding:9px 22px;
            }
        }

        @media only screen and (max-width: 400px){
            .hack_name{
                font-size:32px;
            }

            .content label{
                font-size:12px;
            }

            .content p{
                font-size:15px;
            }

            .invite{
                font-size:22px;
            }

            .invite button{
                background-color:#3D5A80;
                padding:8px 20px;
            }
        }

        @media only screen and (max-width: 992px){

            .shapes{
                display: none;
            }

        }

        @media only screen and (max-width: 760px){

            .edit-team,.delete-team{
                font-size:20px;
                padding:8px 20px;
            }

            .edit-team{
                min-width: 103.03px;
            }
        }

        @media only screen and (max-width: 430px){

            .edit-team,.delete-team{
                font-size:18px;
                padding:7px 18px;
            }

            .edit-team{
                min-width:93.33px;
            }
        }

        /* end of media queries for content */