/* content */

.hack_name {
    color: #3D5A80;
}


label{
    font-size: 25px;
    font-weight: 600;
    color: #3D5A80;
}

.hack-det, .content a {
    font-size: 25px;
    font-weight: 400;
    color: #213753;
    margin: 0;
}

.content a{
    text-decoration: underline;
}

.skills, .team_mates {
    /* border:green solid 2px; */
    width: 85%;
    margin: 0 auto;
}

.shapes img {
    max-width: 100%;
    max-height: 300px;
}

.shapes {
    /* border:2px red solid; */
    text-align: end;
    position: relative;
    top: 7vh;
}

.invite {
    /* border:2px red solid; */
    text-align: end;
    font-size: 25px;
}

.invite button {
    background-color: #3D5A80;
    padding: 6px 14px;
}

.invite button:focus {
    background-color: #3D5A80;
}

.invite button a {
    color: white;
}

.team-butt {
    /* border: 2px pink solid; */
    display: flex;
    justify-content: flex-end;
    /* display: none; */
    font-size: 25px;
}

.team-butt-cover {
    /* border: 2px solid red; */
    /* width:100%; */
    display: flex;
    /* justify-content: space-between; */
    justify-content: flex-end;
}

.delete-team {
    background-color: white;
    border: none;
    color: #3D5A80;
    padding: 6px 14px;
    border: 3px #3D5A80 solid;
    border-radius: 8px;
    margin-right: 20px;
    cursor: pointer;
}

.edit-team {
    background-color: #3D5A80;
    border: none;
    color: white;
    padding: 6px 14px;
    border: 3px #3D5A80 solid;
    border-radius: 8px;
    margin-left: 20px;
    cursor: pointer;
    min-width: 105.29px;
}

.create-team{
    background-color: #3D5A80;
    border: none;
    color: white;
    padding: 6px 14px;
    border: 3px #3D5A80 solid;
    border-radius: 8px;
    /* margin-left: 20px; */
    cursor: pointer;
}

.edit-team:focus {
    background-color: #3D5A80;
    outline: none;
}

.delete-team:focus {
    background-color: white;
    outline: none;
}

.create-team:focus {
    background-color: #3D5A80;
    outline: none;
}

.shapes-mob {
    display: none;
    /* max-width:50%; */
    /* border: 2px red solid; */
}

.shapes-mob img {
    max-width: 100%;
}

.footer1{
    display: none;
}


/* content end */

/* media queries */

/* media queries for content */


@media only screen and (max-width: 992px) {
    .shapes {
        display: none;
    }
    .shapes-mob {
        display: initial;
    }

    .shapes{
        top:0;
    }

    .shapes img{
        max-height:100px;
    }

    .hack-det,label,.content a{
        font-size: 20px;
    }
    .hack_name{
        font-size: 40px;
    }
}

@media only screen and (max-width: 992px) {
    .team-butt ,.create-team{
        font-size: 20px;
    }
    .edit-team {
        min-width: 91.03px;
    }
}

@media only screen and (max-width: 600px) {
    .team-butt ,.create-team{
        font-size: 13px;
    }
    .edit-team {
        min-width: 71.08px;
    }

    .hack-det,label,.content a{
        font-size: 13px;
    }
    .hack_name{
        font-size: 32px;
    }
}

/* end of media queries for content */