/* content */

.team_name{
    color: #3D5A80;
}

.content label{
    font-size:25px;
    color: #3D5A80;
    font-weight: 600;
}

.content p{
    font-size:25px;
    color: #213753;
    font-weight: 400;
    margin:0;
}


.skills,.team_mates{
    /* border:green solid 2px; */
    width:85%;
    margin:0 auto;
}

.shape1{
    width:151px;
    height:151px;
    background: #E0FBFC;
    transform: rotate(30deg);
    z-index:3;

    position: relative;
    top:130px;
}

.shape2{
    width:159px;
    height:159px;
    background: #EE6C4D;
    z-index:2;
    border-radius:50%;

    position: relative;
    bottom:120px;
}

.shape3{
    width: 0; 
    height: 0; 
    border-left: 115px solid transparent;
    border-right: 85px solid transparent;
    border-bottom: 130px solid #98C1D9;
    z-index:1;
    transform: rotate(-135deg);
    
    position: relative;
    bottom:270px;
    left:40px;
}

.team-butt{
    /* border:2px pink solid; */
    display: flex;
    justify-content:flex-end;
    /* display: none; */
}

.team-butt-cover{
    /* border:2px solid red; */
    width:45%;
    display: flex;
    /* justify-content: space-between; */
    justify-content: flex-end;
}

.delete-team{
    color: #3D5A80;
    background-color: white;
    font-size:24px;
    padding:10px 25px;
    border:3px #3D5A80 solid;
    border-radius: 8px;
    margin-right:20px;
    cursor: pointer;
}

.edit-team{
    color: white;
    background:#3D5A80;
    font-size:24px;
    padding:10px 25px;
    border:3px #3D5A80 solid;
    border-radius: 8px;
    margin-left:20px;
    cursor: pointer;
    min-width:124.44px;
}

.edit-team:focus{
    background-color:#3D5A80;
    outline: none;
}

.delete-team:focus{
    background-color: white;
    outline: none;
}


/* content end */

/* media queries */      

        /* media queries for content */

        @media only screen and (max-width: 1165px){

            .shapes{
                display: none;
            }

        }

        @media only screen and (max-width: 600px){
            .team_name{
                font-size:35px;
            }


            .content p,.content label{
                font-size:18px;
            }

        }

        @media only screen and (max-width: 400px){
            .team_name{
                font-size:32px;
            }

            .content p,.content label{
                font-size:15px;
            }


        }

        @media only screen and (max-width: 760px){

            .edit-team,.delete-team{
                font-size:20px;
                padding:8px 20px;
            }

            .edit-team{
                min-width: 103.03px;
            }
        }

        @media only screen and (max-width: 430px){

            .edit-team,.delete-team{
                font-size:18px;
                padding:7px 18px;
            }

            .edit-team{
                min-width:93.33px;
            }
        }

        /* end of media queries for content */